<h1 id="header">Da Burger!</h1>

<div class="main">

    <p>You can have your own burger and eat it too!</p>


    <input type="text" placeholder="Name your burger" id="inputBurger">
    <button id="submitBurger">Create Burger</button>


    <div class="uneaten">
        <h2>Uneaten burgers: </h2>
        {{#each burger}}
        {{#unless this.devoured}}
        {{> burger-block}}
        {{/unless}}
        {{/each}}
    </div>

    <div class="eaten">
        <h2>Eaten burgers: </h2>
        {{#each burger}}
        {{#if this.devoured}}
        {{> burger-block}}
        {{/if}}
        {{/each}}
    </div>
</div>
</div>